# Pin NumPy to version compatible with ROS2 Jazzy
numpy<2.0

dm_env
torch==2.4.0 
torchvision==0.19.0
pexpect
python-can
pyquaternion
pyagxrobots
pycryptodome
ipython
esdk-obs-python
h5py
PyYAML
ruamel.yaml
tqdm
wandb
rospkg
empy
mujoco
dm_control
opencv-python<4.10
matplotlib
einops
packaging
paho-mqtt
mediapipe
pyqt5
pyqtgraph
uvicorn
tabulate
lark
jupyter
notebook
piper_sdk
pandas
